@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 185 53% 94%;
    --foreground: 224 71% 4%;
    --card: 185 53% 99%;
    --card-foreground: 224 71% 4%;
    --popover: 185 53% 99%;
    --popover-foreground: 224 71% 4%;
    --primary: 135 94% 65%;
    --primary-foreground: 135 80% 10%;
    --secondary: 212 100% 88%;
    --secondary-foreground: 212 90% 20%;
    --muted: 212 100% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 212 100% 70%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 185 40% 85%;
    --input: 185 40% 88%;
    --ring: 212 100% 70%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 135 94% 65%;
    --primary-foreground: 135 80% 10%;
    --secondary: 212 100% 70%;
    --secondary-foreground: 212 80% 10%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 212 100% 70%;
    --accent-foreground: 212 80% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 27%;
    --input: 217 33% 27%;
    --ring: 212 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
